<div class="form_wrapper">
    <h2>add a new book</h2>
    <form>
        <input type="text" name="name" placeholder="book's name" required>
        <input type="text" name="auther" placeholder="auther's name" required> 
        <input type="text" name="img" placeholder="book's image url" required>
        <textarea rows="6" name="about" placeholder="about the book..." required></textarea>
        <input type=submit>
    </form>
</div>