<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>books store</title>
    <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="<%= staticPath	%>/main.css"/>
</head>