    <header>
        <div class="logo_container"><h1>ReadForFun!<h1></div>
        <div class='nav_container'>
            <nav>
                <a href="/home">Our Books</a>
                <a href="/authers">Authers</a>
                <a href="/about">About Us</a>
            </nav>
        </div> 
    </header>