<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main>
         <h2>About Us</h2>
            <% about.forEach(function(p) { %>
            <p><%= p %></p>
             <% }) %>
    </main>
</body>
</html>