body {
    margin: 0px;
    font-family: arial
}
.logo_container{
    width: 60%;
    margin: auto;
    height: 100px; 
    display: flex;
    align-items: center;   
}

.logo_container h1{
    color: #e43d1f;
    font-size: 3.7rem;
    font-family: 'Shrikhand', cursive;
}
.nav_container{
    width: 100%;
    background: #EAEAEA;
     height: 50px;
}

nav{
    width: 60%;
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    margin-right: 2rem;
}

nav a:hover{
    color: #666;
}

main{
    width: 60%;
    margin: auto;
}
main h2{
    color: #0a4e51;
    font-size: 5rem;
    margin-bottom: 0;
}
main ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style-type: none;

}
main ul li{
    width: 25%;
    height: 220px;
    background-color: #eee;
    border: 5px solid #fff;
    box-sizing: border-box;
    text-decoration: none;
    color: #333;
    text-align: center;
    position: relative;
    padding: 0.5rem;
    box-sizing: border-box;
}
main ul li:hover{
    background-color: #eed;  
}

main ul li img {
    height: 100px;
    margin-top: 10px;
    opacity: 0.5;
    max-width: 90%;
    object-fit: cover;
}

main ul li a{
    text-decoration: none;
    color: #333;
    display: block;
    margin-top: 0.5rem;
}

main ul li a:hover{
    color: #0a4e51;
    font-weight: bold;
}

main ul li p{
    margin-top: 10px;
    margin-bottom: 10px;
}

main ul li p{
    font-size: 10px;
}

main ul li:hover img{
    opacity: 1;
}

main ul li:hover button{
    opacity: 1;
}

.delete{
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border: none;
    background-color: tomato;
    color: #eee;
    opacity: 0.5;
    cursor: pointer;
    outline: none;
}

.book_img{
    width: 180px;
    float: right;
    margin: 0 0 2rem 1rem;
}

.about_des {
    width: 50%;
}

.auther_img{
    width: 100%;
}


